

.pattern {
    background-image: url(./image/pattern.jpeg);
    font-family: Helvetica;
    font-size: 50px;
    color: khaki;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-family: Helvetica;
}

h2 {
    color: white;
    font-size: 32px;
}

#brushes {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

span {
    color: blue;
}
